{% extends "blog/base.html" %}

{% block content %}

      <article class="media content-section">
        <div class="media-body">

          <div class="article-metadata">
              <img class="rounded-circle account-img" src="{{ object.author.profile.image.url }}" alt="">
            <a href="#" class="mr-2">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d,Y" }}</small>
          </div>
          <h2>{{ object.title }}</h2>
          <p class="article-content">{{ object.content }}</p>

        </div>
      </article>

{% endblock %}
